body {
  text-align: center;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}

.size{
  width:500px;
}

h1 {
  color: #FFB03B;
}

.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  color: #468966;
}
.nav-bar {
  background-color: purple;}


  a{
  color: white;
  text-decoration:none;
  font-size: 20px;
  padding: 50px;
  font-family:Lobster;

}
.note{
  font-size: 30px;
  color:purple;
  border: 2px solid #black
}
.id{
      display: none;
  }
