.lightpink {
  background-color: #FFC0A9;

}
.darkpink {
  background-color: #FF8598
}
.lightgreen {
  background-color: #C9D787
}
.white{
  background-color: white;
}
.darkgreen {
  color: #7D8A2E

}
.whitepink {
  background-color: #FFEEFF
}
.grey {
  color: #828282
}

body {
  text-align: center;
}

.message-list {

  padding: 20px;
}

.size{
  width:500px;
  max-width: 100%
}

.block{
  display: block;
  margin: 0 auto;
}

.invisible{
  display: none;
}

.searchBox{
 padding-top: 10px;
 display: inline-block;
}
.navbar{
  padding: 50px;
}


.text-left{
  text-align: left;
  vertical-align: middle;
}
.text-right{
  text-align: right;
  vertical-align: middle;

}
.image{
  position: relative;
  height:100px;
  float:left;
  margin:-20px;
}
.imagesize{
  height:250px;

}
h3{
  display: block;
  text-align: left;

}

input {
    border: 1px solid black;
    background-color: #D3D3D3;
    color: red;
    font-size: 20px;
    padding: 10px;
}

button {
   color: #475B68;
   background-color:white;
   border: 5px solid #FF8598;
   font-size: 25px;
   padding: 10px;
   font-family: Amatic,sans-serif;
   border-radius: 13px;
   margin-left: 10px;


}
.paddingtop{
  padding-top: 50px;
}

h1 {
  color: #FFB03B;
  margin-top: 20px;
}

.post {
  margin: 10px;
  padding: 40px;
  border: 2px solid #F996FF;
  border-radius: 5px;
  color: #468966;
}

  a{
  color: white;
  text-decoration:none;
  font-size: 35px;
  padding: 20px;
  font-family:Pacifico;

}
.note{
  font-size: 30px;
  color:purple;
  border: 2px solid #black
}
.id{
      display: none;
  }
  h2{
    margin-top: -135px;
    font-size: 20px;
  }
.accountInfo{
  display:inline;
}
