body {
  text-align: center;
}

.message-list {
  background-color: #FFF0A5;
  padding: 20px;
}

.size{
  width:500px;
  max-width: 100%;
}

.block{
  display: block;
  margin: 0 auto;
}

.searchBox{
 padding-top: 10px;
 display: inline-block;
}

h3{
  display: block;
  text-align: left;

}

input {
    border: 1px solid black;
    background-color: #D3D3D3;
    color: red;
    font-size: 20px;
    padding: 10px;
}

button {
   color: black;
   background-color: blue;
   border: 5px solid #00008B;
   font-size: 25px;
   padding: 10px;
   box-shadow: 5px 5px 5px #888888;
}

h1 {
  color: #FFB03B;
}

.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  color: #468966;
}
.nav-bar {
  background-color: purple;}


  a{
  color: white;
  text-decoration:none;
  font-size: 20px;
  padding: 50px;
  font-family:Lobster;

}
.note{
  font-size: 30px;
  color:purple;
  border: 2px solid #black
}
.id{
      display: none;
  }
